
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
    url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$default-font: "Poppins-regular", sans-serif;
$font-light : "Poppins-light", sans-serif;