<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">
        <div class="container wrap-content">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="leftrow d-flex align-items-center">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Why Shopex</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Benefits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Inquire now!</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rightrow">
                    <form class="d-flex me-2">
                        <button class="btn signin-btn btn-white" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <section class="home-section bottom-header">
        <div class="container wrap-content">
            <div class="home-title-section">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="main-page-info">
                        <p class="yellow-txt"> Just in few minutes &nbsp; 
                            <span class="material-icons">
                                arrow_right_alt
                            </span>
                        </p>

                        <div class="cover-text">
                            <h1>Join <strong>Today</strong> and <br />
                                Start <strong>Selling</strong> Online <br />
                                within <strong>30 Minutes</strong></h1>
                        </div>
                        <div class="join-email-form">
                            <img src="../../../assets/images/icons/mail.png" alt="">
                            <input type="text" name="email" id="emailid" placeholder="Enter your email......">
                            <button class="btn-basic gradiant-btn">Start now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>