@import "assets/scss/fonts";

//colors
$default-blue: #22215b;
$default-pink: #ee1f55;
$yellow: #ffac2c;
$lightblue: #a1b1cf;
$gradiant: linear-gradient(180deg, #ed1460 0%, #ef3a38 100%);

html {
  scroll-behavior: smooth;
}
body {
  font-family: $default-font;
  position: relative;
  width: 100%;
  height: 100%;
  color: $default-blue;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
th,
tr {
  font-family: $default-font;
}
.wrap-content {
  max-width: 1300px;
}
.redtext {
  color: $default-pink !important;
}
header {
  background: url("assets/images/backgrounds/home-bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  #navigation {
    background-color: transparent !important;
    padding: 30px 0;
    .navbar-brand {
      img {
        width: 150px;
      }
      padding-right: 20px;
    }
    .nav-item {
      a {
        font-size: 20px;
        letter-spacing: -0.005em;
        color: $lightblue;
        padding: 0 15px;
        &:hover {
          color: lighten($lightblue, 30%) !important;
        }
      }
    }
    .btn-white {
      background: #fff;
      border-radius: 6px;
      color: $default-pink;
      font-size: 20px;
      padding: 5px 40px;
    }
  }
  .bottom-header {
    .home-title-section {
      .d-flex {
        height: 90vh;
      }
      .yellow-txt {
        font-weight: bold;
        font-size: 20px;
        color: $yellow;
        padding-bottom: 30px;
      }
      .cover-text {
        h1 {
          font-weight: normal;
          font-size: 55px;
          letter-spacing: -0.005em;
          color: #ffffff;
          font-family: $font-light;
          padding-bottom: 30px;
          strong {
            font-weight: 900;
            font-family: $default-font;
          }
        }
      }
      .join-email-form {
        position: relative;
        input {
          background: $default-blue;
          box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.47);
          color: $lightblue;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          outline: 0;
          padding: 20px 20px 20px 70px;
          border: none;
          width: 100%;
          &::placeholder {
            color: $lightblue;
          }
        }
        img {
          position: absolute;
          width: 25px;
          top: 25px;
          left: 20px;
        }
        button {
          margin-top: 30px;
          background: $gradiant;
          border-radius: 10px;
          display: block;
          outline: 0;
          border: none;
          font-size: 20px;
          color: #ffffff;
          padding: 15px 40px;
        }
      }
    }
  }
}

.main-container {
  .section2 {
    background: url("assets/images/backgrounds/section2-bg.png") no-repeat;
    background-size: cover;
    padding: 100px 0 250px 0;
    text-align: center;
    .section-title {
      h3 {
        font-size: 40px;
        color: $default-blue;
        font-weight: 700;
        padding-bottom: 20px;
      }
      .redtext {
        font-weight: 900;
        color: $default-pink;
        font-size: 51px;
      }
    }
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
    }
    .modal-img {
      img {
        position: absolute;
        right: 29vw;
      }
    }
  }
  .blue-bg-section {
    background: url("assets/images/backgrounds/blue-bg.png") no-repeat;
    background-size: cover;
    padding: 250px 0 150px 0;
  }
  .section3 {
    color: #fff;
    .feature-info {
      .section-title {
        .res-border {
          background: $gradiant;
          height: 10px;
          width: 80px;
          display: block;
          margin-bottom: 20px;
        }
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
          color: #ffffff;
        }
        p {
          font-size: 20px;
          line-height: 24px;
          color: $lightblue;
        }
      }
      .feature-list {
        margin-top: 30px;
        .d-flex {
          padding: 20px 0;
          .leftinfo {
            padding-right: 30px;
            img {
              box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.47);
              border-radius: 50%;
            }
          }
          .rightinfo {
            h3 {
              font-weight: bold;
              font-size: 25px;
              line-height: 37px;
              color: #ffffff;
            }
            p {
              margin: 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: $lightblue;
              width: 350px;
            }
          }
        }
      }
    }
  }
  .section4 {
    padding: 100px 0 60px 0;
    color: #fff;
    text-align: center;
    .section-title {
      margin-bottom: 100px;
      h3 {
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        color: #ffffff;
        margin-bottom: 20px;
      }
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $lightblue;
      }
    }
    .section-body {
      margin: 100px 0 0 o;
      .b-card {
        padding: 10px;
        h3 {
          font-weight: bold;
          font-size: 25px;
          line-height: 37px;
          color: #ffffff;
          padding-top: 30px;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: $lightblue;
        }
      }
    }
  }
}
