<div class="shopex-landing main-page-contents">
    <app-header></app-header>

    <div class="main-container">
        <section class="section2 create-store-section">
            <div class="container wrap-content">
                <div class="section-title">
                    <h3>Create Your Online Store for <span class="redtext">Free</span> </h3>
                </div>
                <div class="section-body">
                    <p>Connect with your valuable customers virtually via Shopex digital product portfolio, transforming
                        your business to a next level shopping platform. Online selling is a win-win phenomenon that
                        customers and retailers will enjoy at the same time while experiencing a digital lifestyle in
                        shopping and retailing.</p>
                    <p>
                        Shopex will enable retailers to setup business emails, payment methods, units, FAQ, SKU profile,
                        about us, contact us and common settings with 100% control without an IT support or any
                        technical expertize.</p>
                    <div class="modal-img">
                        <img src="../../assets/images/extra/admin.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <div class="blue-bg-section">
            <section class="section3 features-section">
                <div class="container wrap-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="feature-info">
                                <div class="section-title">
                                    <span class="res-border"></span>
                                    <h3>Create Your <br />Online Store for <span class="redtext">Free</span> </h3>
                                    <p class="sub-text">Stand Out Among Competition - Create, <br />Design, Manage and
                                        Develop
                                        Your <br /> Online Store with
                                        Ease</p>
                                </div>
                                <div class="feature-list">
                                    <div class="feature1 d-flex align-items-center">
                                        <div class="leftinfo">
                                            <img src="../../assets/images/icons/f1.png" alt="">
                                        </div>
                                        <div class="rightinfo">
                                            <h3>WE ARE DEDICATED</h3>
                                            <p>We dedicate our service 24/7 to help you out to be an expert in online
                                                selling.</p>
                                        </div>
                                    </div>
                                    <div class="feature2 d-flex align-items-center">
                                        <div class="leftinfo">
                                            <img src="../../assets/images/icons/f2.png" alt="">
                                        </div>
                                        <div class="rightinfo">
                                            <h3>WE ARE CREATIVE</h3>
                                            <p>We break established pattens to paint everything you imagine with the
                                                colour
                                                of creativity</p>
                                        </div>
                                    </div>
                                    <div class="feature3 d-flex align-items-center">
                                        <div class="leftinfo">
                                            <img src="../../assets/images/icons/f3.png" alt="">
                                        </div>
                                        <div class="rightinfo">
                                            <h3>WE ARE FRIENDLY</h3>
                                            <p>We are happy and value to serve you as a friend while being our loyal
                                                customer on this platform</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <img src="../../assets/images/extra/spend-more.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section4 benefits-section">
                <div class="container wrap-content">
                    <div class="section-title">
                        <h3>What can we give you</h3>
                        <p class="sub-text">Reach to a global audience at your fingertips with <br />Online Retailing
                            and let
                            your
                            customers experience a Digital Lifestyle...</p>
                    </div>
                    <div class="row section-body text-center">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b1.png" alt="">
                                <h3>CREATE ONLINE SHOP</h3>
                                <p>Start your business journey online with Shopex to reach many customers worldwide.</p>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b2.png" alt="">
                                <h3>ONLINE CATELOG</h3>
                                <p>Manage your online store with a single dashboard tracking your inventory, orders and
                                    collections.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b3.png" alt="">
                                <h3>ACCEPT CARD PAYMENTS</h3>
                                <p>Start your business journey online with Shopex to reach many customers worldwide.</p>
                           </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b4.png" alt="">
                                <h3>UNIQUE BRANDING</h3>
                                <p>Unique your brand with Shopex platform to be outstanding in your industry.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b5.png" alt="">
                                <h3>YOUR OWN DOMAIN</h3>
                                <p>Have your own business domain to publish brands, products, offers and deals.</p>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b6.png" alt="">
                                <h3>SEAMLESS DELIVERY</h3>
                                <p>A transparent delivery mechanism to deliver your customer orders to their doorstep.
                                    Shopex
                                    seamlessly integrates your online orders with delivery partners.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="b-card">
                                <img src="../../assets/images/icons/b7.png" alt="">
                                <h3>SELL ON SOCIAL MEDIA</h3>
                                <p>Publish your products on social media under this platform to sell and market your
                                    brands
                                    for
                                    a bigger audience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <section class="section5 video-section">
            <div class="container wrap-content">
                <div class="quote-msg">
                    <p>“ The power of digital distribution over physical retail outlets is you have a chance to create a
                        global audience! ”</p>
                    <h5>CHAD HURLEY</h5>
                </div>
                <div class="video-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="info-of-video">
                                <h4>You think Shopex and help your business</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section6 partners-section">
            <div class="container wrap-content">
                <div class="section-title">
                    <h3>They trust in us</h3>
                </div>
                <div class="partner-slider">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="PartnerSlideConfig" class="carousel">
                        <div ngxSlickItem class="slide ps-item">
                            <img src="../../assets/images/extra/brand1.png" alt="">
                        </div>
                        <div ngxSlickItem class="slide ps-item">
                            <img src="../../assets/images/extra/brand1.png" alt="">
                        </div>
                        <div ngxSlickItem class="slide ps-item">
                            <img src="../../assets/images/extra/brand3.png" alt="">
                        </div>
                        <div ngxSlickItem class="slide ps-item">
                            <img src="../../assets/images/extra/brand4.png" alt="">
                        </div>
                        <div ngxSlickItem class="slide ps-item">
                            <img src="../../assets/images/extra/brand1.png" alt="">
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="partner-section-get-started bg-section">
                    <div class="d-flex align-items-center justify-content-start">
                        <div>
                            <h2>GET STARTED NOW!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna </p>
                            <button class="btn-basic gradiant-btn">Start now</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>