<footer>
    <div class="container wrap-content">
        <div class="row is-white inner-paddings">
            <div class="col-lg-3 col-md-3 col-xs-12 d-flex justify-center">
                <div class="footer-links contacts">
                    <img class="logo" src="../../../assets/images/logo.png" alt="">
                    <div class="contact-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 d-flex justify-center">
                <div class="footer-links q-links">
                    <h4>Products</h4>
                    <ul>
                        <li><a href="">Products</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Partnership</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 d-flex justify-center">
                <div class="footer-links q-links">
                    <h4>About</h4>
                    <ul>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12  d-flex justify-center">
                <div class="footer-links q-links">
                    <h4>Get in touch</h4>
                    <p>Questions or feedback we would love to hear from you</p>
                    <div class="social-links">
                        <img src="../../../assets/images/icons/fb.png" alt="">
                        <img src="../../../assets/images/icons/tw.png" alt="">
                        <img src="../../../assets/images/icons/insta.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>